<div class="container">
  <div class="detail_sp">
    <div class="row">
      <div class="col-6">
        <div class="detail_img">
          <div class="card mb-3">
            <img
              src="/assets/sp_moi/{{detailSpMoi.img}}"
              class="card-img-top"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="col-6">
        <h1>{{detailSpMoi.name}}</h1>
        <h3>{{detailSpMoi.price}}<span>₫</span></h3>
        <div class="so_luong">
          <div class="row">
            <div class="col-3">
              <h4>Số lượng</h4>
            </div>
            <div class="col-9">
              <div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <a class="page-link">-</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">+</a>
                    </li>
                  </ul>
                </nav>
                <p>Còn {{detailSpMoi.quantity}} sản phẩm</p>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-success"
            ng-click="addGioHang($event, $index)"
          >
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAeJJREFUSEvFlr1SFEEUhc8hB/EJhNBIjAx1fQJ8AjBhi0hDiYRIQ40oSYAn0Cdgl5BsiQiVJxA191BnvbPVtTU/PVuzTldt1W5PT3997z3n9hI9DfbERf9gSRsAHhUZIHm5zGzMIpZ0COB9ArsDMCA5WcYB6sDmjUkOlg12qv3x2AbwJr476nHX8FJxSVoH8DNg5yR3/wvYEElnAHYC+KID8K9UL5V2kmTYqANgusUrkt88UetjSVb0kw7hr0k6k41g1/Y0wEdW+QKHsE2fx3sPSdqmjWCL7AeAB4tYq06kjS1T0qfEWpskfZCsISnN2Ky+jRGHuu3t70H6TPJtFvWfMwqN3JIsesT09caIA+7auk6uj6Oe1qluRO+vPHAu2J3sa4BmymwA15YoCxxRu7a+vSYkn2ZEXKy/Jrk1v74NOL29LJo6kRnkiD1KM9QGnPbvpoDT5zPvppPZ4Eh3WrcceKULWoEDnn1h1F2ni4D3ADjtxyT/zIctaRXAvq1H8qQqLa3Akj4AeBebjUi+LAFf+C9TzH8keVAGbwtONxXJlRLw36QxlR4uu3MVm0tymr/E7xOSwxKwn3udx7Aq3a0iDnE9BrBG8qqqfpKeAfhN8qaTGuf4J3dN64hzN25a1xv4Hsq9sx9QXqmgAAAAAElFTkSuQmCC"
            />
            <span> Thêm vào giỏ hàng </span>
          </button>
          <a href="#gio-hang">
            <button type="button" class="btn btn-success">
              <span> Mua ngay </span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="sp_tuongtu">
    <h2 class="tieu_de"><b></b> <span>Sản phẩm tương tự</span> <b></b></h2>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="spTT in listSpTuongTu">
        <div class="card" style="width: 18rem">
          <img
            src="/assets/sp_moi/{{spTT.img}}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6 class="card-title">
              <a href="#san-pham/detail-sp-moi/{{spTT.id}}"> {{spTT.name}}</a>
            </h6>
            <h5 class="card-text">{{spTT.price}}<span>₫</span></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
